<h2> List of Your Past Campaigns </h2>
<ul>
<% current_user.campaigns.each do |campaign| %>
<li><strong>Campaign:</strong> <%= link_to campaign.name, campaign_path(campaign.id) %>. <strong>Contacts</strong> <%= campaign.contacts.count %></li>
<% end %>
</ul>
