<% if user_signed_in? %>
<h1>Welcome! Let's make an impact today</h1>
<h2>Let's create a campaign:</h2>
  <%= link_to('Create a Campaign', new_campaign_path) %>
  <%= render('campaigns') %>
  <%= link_to('Log Out', destroy_user_session_path, :method => :delete)  %>
<% else %>
<h1>Reach out to 100 people via your Gmail account</h1>
  <%= link_to('Log in via your Google Account', user_google_oauth2_omniauth_authorize_url) %>
<% end %>
