<div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
  <%= link_to "New", new_campaign_path, class: "btn btn-secondary" %>
  <button type="button" class="btn btn-secondary">Drafts</button>
  <button type="button" class="btn btn-secondary">Completed</button>
</div>
