<h1>Edit Your Campaign</h1>

<% @campaign.errors.each do |error| %>
  <ul>
    <li><%= error%></li>
  </ul>
<% end %>

<%= render 'form',               campaign: @campaign %>

<%= link_to 'Preview This Campaign', preview_campaign_campaign_path(@campaign) %>

<%= render 'campaign_variables', campaign: @campaign %>
