<div class="row">
  <div class="col-md-4">
    <%= render 'campaign_variables', campaign: @campaign %>
  </div>
  <div class="col-md-8">
    <%= render 'form', campaign: @campaign %>
  </div>
</div>
<% @campaign.errors.each do |error| %>
  <ul>
    <li><%= error%></li>
  </ul>
<% end %>



<%= link_to 'Preview This Campaign', preview_campaign_campaign_path(@campaign) %>
